nav, article, aside, footer section {
    width: 900px;
  }
  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }
  .print, .date {
    color: #a9a8a5;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
  }  
  footer section p{
    line-height: 1.5em;
    color: #aaa;
  }
  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }
  aside p {
    width: 65%;
    text-indent: 0;
  }
  .recipe li {
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
  }
  .recipe {
    height: 260px;
  }
  
  .print {
    text-decoration: none;
  }
  